.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 80%
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%    
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 10%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.fa, .fa-brands, .fa-regular, .fa-solid, .fab, .far, .fas
  color: black


/* Colores de fondo*/
.bg-color
  &-1
    background-image: url(../assets/curso/fondos/fondo.svg)
    background-repeat: no-repeat
    margin-inline: -3.2rem !important
    background-size: cover    
  &-2
    background-color: #e8faf6 !important
  &-3
    background-color: #E2DCF9 !important    
  &-4
    background-color: #8FE8D5 !important
  &-5
    background-color: #467369 !important
  &-6
    background-color: #feeaa5 !important
  &-7
    background-color: #fecb20 !important
  &-8
    background-color: #CCF5EC !important



  &-9
    background-color: #FFF4DA !important
  &-10
    background-color: #5F4F77 !important
  &-11
    background-color: #3F7266 !important
  &-12
    background-color: #CBF4EB !important
  &-13
    background-color: #F4F3ED !important
  &-14
    background-color: #FFC94A !important
 
  
/*Fin de Colores de fondo*/

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: black !important

/*Pestanas */
.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #DDf1f7
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tabs-a__tab
  background-color: #FDF0AC
/*Pestanas*/


/*Accordion*/
.tarjeta.acordeonA
  background-color: #E2DCF9 !important
  transition: background-color 0.3s ease-in-out
  
  .acordion__header
    .acordion__titulo
      h3, h4, span, a, p
        color: #000000 !important

  &.acordion__activo
    background-color: #FEEAA5 !important
    .acordion__header
      .acordion__titulo
        h3, h4, span, a, p
          color: #000000 !important
    
    .acordion__contenido
      p, li, span
        color: #000000 !important

.acordion__accion__btn--a
  background-color: #FFA808 !important 
  i
    color: #000 !important

.acordeonA
  position: relative  
  width: 100%  
  p, h4
    padding-left: 4.3rem !important 
  .lista-ul
    padding-left: 4.3rem
    li
      display: flex
      align-items: flex-start
      i
        padding-top: 1px   
/*Fin Accordion*/
